@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    For Questions about TopDog Trading:<br/>
        Dr. Barry Burns<br/>
        1534 N. Moorpark Rd, #222<br/>
        Thousand Oaks, CA 91360-5129<br/>
        Toll Free: (866) 878-9209<br/>

</address>

<address>
    <strong>Site Feedback:</strong>   <a href="mailto:support@mySite.com">support@mySite.com</a><br />
    <strong>Content Contribution:</strong> <a href="contributor@mySite.com">contributor@mySite.com</a>
</address>