
@{
    ViewBag.Title = "HyperActiveTrader";
}

<style>
    p {
        font-size:large; 
        margin:15px;
    }
</style>
<div class ="winner-with-pc">
    <h2>Home of the Hyper Active Trader</h2><br />
    <table>
        <td>
            <img src="~/Resources/winning-girl.jpg" alt="HyperActive Trader Finally Winning" align:left height="360" width="240"/>
        </td>
        <td>
            <p>Most trading blogs promise amazing returns and unbelievable success in </p>
            <p>the equity market.</p>
            <p><strong> Not us. </strong></p>
            <p>This site describes one traders journey from being the worst trader on</p>
            <p>the face of the earthto a consistently profitable trader.</p> <br />
            <p>Our intention is to help other traders dealing with the same demons and </p>
            <p>seemingly insurmountable roadblocks.</p>
            <br />
        </td>
    </table>
    @Html.ActionLink("Back to home", "Index")
</div>