
@{
    ViewBag.Title = "Play To Win";
}

<h2>Play To Win</h2>


<h4 class="bottom-left">@Html.ActionLink("Back", "Index", "peakP", null, new { @class = "btn btn-danger" })</h4>
<h4 class="bottom-left">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "btn btn-danger" })</h4>


