
@{
    ViewBag.Title = "Top Dog Indicator";
}


<div class="text-center">
    <h2>TopDog Visual Indicator</h2>
    <a href="http://www.topdogtrading.com/Products_VTforNT.html"><img src="~/Resources/indicator.png" /></a>
</div>
<h4 class="bottom-left">@Html.ActionLink("Back", "Index", "TopDog", null, new { @class = "btn btn-danger" })</h4>
<h4 class="bottom-left">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "btn btn-danger" })</h4>
