
@{
    ViewBag.Title = "Top Dog Indicator";
}

<h2>indicator</h2>

<h3 class="text-center">@Html.ActionLink("Indicator ", "http://www.yahoo.com")</h3>
<h3 class="text-center">@Html.ActionLink("Indicator ", "http://www.topdogtrading.com/Products_VTforNT.html")</h3>

<h4 class="bottom-left">@Html.ActionLink("Back", "Index", "TopDog", null, new { @class = "btn btn-danger" })</h4>
<h4 class="bottom-left">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "btn btn-danger" })</h4>
